/*Layouts*/
@tablet-width: ~"(max-width: 1024px)";
@mobile-width: ~"(max-width: 768px)";

/*Colors*/
@color-content: #f3ca0c;
@color-content-o90: rgba(243,202,12,0.9);
//@color-content: #ff00FF;
// @color-bg: #0d0d0d;
@color-bg: #2b1103;
@color-bg-o90: rgba(43,17,3,0.9);

/*Fonts*/
@font: 'Poppins', sans-serif;
@font-heading: 'PT Sans Caption', sans-serif;